body {
  margin: 0;
}

header {
  border-bottom: solid;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95%;
  margin-left: 2%;
  font-family: sans-serif;
}

nav h1 {
  display: inline-block;
  font-family: sans-serif;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  font-family: sans-serif;
}

.navT {
  border-right: solid;
}

.navS {
  border-right: solid;
}

.filters {
  margin-left: 10%;
  font-family: sans-serif;
  padding-bottom: 10px;
}

select {
  width: 20%;
  height: 30px;
}

button {
  width: 15%;
  background-color: #425ff4;
  color: white;
  border-radius: 5px;
  height: 30px;

}

.main {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  font-family: sans-serif;
  padding-top: 10px;
  border-top: solid;
}

.box {
  border: solid;
  border-width: thin;
  width: 40%;
  margin: 10px;
  height: 100px;
  background-color: #dbdee0;
}

.course {
  display: inline-block;
  width: 40%;
  border-right: solid;
  border-width: thin;
  padding-left: 10px;
}

.info {
  display: inline-block;
}

@media screen and (max-width: 1120px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box {
    width: 90%;
  }
}
